@theme {
  --color-background: #202036;
  --color-surface: #2c2f45;
  --color-surface-light: #3a3d5c;
  --color-gold-dark: #b98522;
  --color-gold: #cfa23f;
  --color-gold-light: #e0c151;
  --color-gold-lighter: #f3f18f;
}
